<div class="container-fluid">
	<h2 class="text-primary headline">Bookings</h2>
	<div class="row">
		<div class="col-md-12">
		
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span>Aircraft List</span>
				</div>
				
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Type</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="a in aircrafts">
							<td>{{a.id}}</td>
							<td>{{a.type}}</td>
							<td>
								<button class="btn btn-xs btn-primary" ng-click="editAircraft(a);"><i class="fa fa-edit"></i> Edit</button>
								<button class="btn btn-xs btn-danger" ng-click="deleteAircraft(a);"><i class="fa fa-trash-o"></i> Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
		</div>
	</div>