<div class="container-fluid">
	<h2 class="text-primary headline">Bookings</h2>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span>Aircraft Status</span>
				</div>
				
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Type</th>
							<th>Available</th>
							<th>Active Charter Status</th>
							<th>Pilot</th>
							<th>Charter Start</th>
							<th>Charter End</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="acs in model.aircraftStatusList">
							<td>{{acs.aircraft.id}}</td>
							<td>{{acs.aircraft.type}}</td>
							<td>{{acs.available}}</td>
							<td>{{acs.charter.charterStatus}}</td>
							<td>{{acs.charter.pilot.user.firstName}} {{acs.charter.pilot.user.lastName}}</td>
							<td>{{acs.charter.charterStart | date:'yyyy-MM-dd' }}</td>
							<td>{{acs.charter.charterEnd | date:'yyyy-MM-dd' }}</td>
							<td>
								<button class="btn btn-xs btn-primary" ng-click="showAircraftCharters(acs);"><i class="fa fa-search"></i> Show Charters</button>
								<button class="btn btn-xs btn-danger" ng-click="createAircraftCharter(acs);" ng-disabled="user.loggedIn == false"><i class="fa fa-plus"></i> New Charter</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span>Aircraft Charters</span>
				</div>
				
				<table class="table">
					<thead>
						<tr>
							<th>Charter Status</th>
							<th>Pilot</th>
							<th>Charter Start</th>
							<th>Charter End</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="charter in model.aircarftCharters">
							<td>{{charter.charterStatus}}</td>
							<td>{{charter.pilot.user.firstName}} {{charter.pilot.user.lastName}}</td>
							<td>{{charter.charterStart | date:'yyyy-MM-dd' }}</td>
							<td>{{charter.charterEnd | date:'yyyy-MM-dd' }}</td>
							<td>
								<div class="btn-group">
								  <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown">
								    Actions <span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu" role="menu">
								    <li ng-class="{ 'disabled' : charter.charterStatus !== 'RESERVED' }"><a ng-click="updateCharterStatus(charter, 'LENT');">Lend Aircraft</a></li>
								    <li ng-class="{ 'disabled' : charter.charterStatus !== 'LENT' }"><a ng-click="updateCharterStatus(charter, 'RETURNED');">Return Aircraft</a></li>
								    <li ng-class="{ 'disabled' : charter.charterStatus !== 'RESERVED' }"><a ng-click="updateCharterStatus(charter, 'CANCELED');">Cancel Charter</a></li>
								    <li class="divider"></li>
								    <li ng-class="{ 'disabled' : charter.charterStatus !== 'RESERVED' }"><a ng-click="updateCharterDates(charter);">Update Charter Dates</a></li>
								  </ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	</div>