<div id="header" class="header" ng-controller="navigationCtrl">
	<ul class="nav nav-pills pull-right">
		<li ng-class="{'active': isActive('/')}"><a href="#">Home</a></li>
		<li ng-class="{'active': isActive('/aircrafts')}" ng-show="isLoggedIn()">
			<a href="#/aircrafts">Aircrafts</a>
		</li>
		<li ng-class="{'active': isActive('/users')}" ng-show="isLoggedIn()">
			<a href="#/users">Users</a>
		</li>
		<li  ng-switch="isLoggedIn()">
			<a ng-click="logout()" ng-switch-when="true">Logout</a>
			<a href="#/login" ng-switch-default>Login</a>
		</li>
	</ul>
		<h1 class="text-primary headline">Rent-A-Wreck</h1>
</div>