<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
		
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span>User List</span>
				</div>
				
				<table class="table">
					<thead>
						<tr>
							<th>Username</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="p in users">
							<td>{{p.username}}</td>
							<td>{{p.firstName}}</td>
							<td>{{p.lastName}}</td>
							<td>{{p.email}}</td>
							<td>
								<button class="btn btn-xs btn-default" ng-click="editUser(p)"><i class="fa fa-edit"></i> Edit</button>
								<button class="btn btn-xs btn-default" ng-click="deleteUser(p)"><i class="fa fa-trash-o"></i> Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
		</div>
		<div class="col-md-6">
			
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span>User Details</span>
				</div>

				<div class="panel-body">
					<form name="userForm" ng-submit="submitForm()" novalidate>
	        			<div class="form-group" ng-class="{ 'has-error' : user.username.$invalid && !user.username.$pristine }">
							<label for="userUsername">Username</label>
							<input type="text" class="form-control" id="userUsername" ng-model="user.username" placeholder="Username" required>
	            			<p ng-show="user.username.$invalid && !user.username.$pristine" class="help-block">Username is required.</p>
						</div>
						
		     			<div class="form-group" ng-class="{ 'has-error' : user.firstName.$invalid && !user.firstName.$pristine }">
							<label for="userFirstName">FirstName</label>
							<input type="text" class="form-control" id="userFirstName" ng-model="user.firstName" placeholder="FirstName">
						</div>
						
		      			<div class="form-group" ng-class="{ 'has-error' : user.lastName.$invalid && !user.lastName.$pristine }">
							<label for="userLastName">LastName</label>
							<input type="text" class="form-control" id="userLastName" ng-model="user.lastName" placeholder="LastName">
						</div>
						
						<div class="form-group" ng-class="{ 'has-error' : user.email.$invalid && !user.email.$pristine }">
							<label for="userEmail">Email</label>
							<input type="text" class="form-control" id="userEmail" ng-model="user.email" placeholder="Email">
						</div>
						
	        			<div class="form-group" ng-class="{ 'has-error' : user.password.$invalid && !user.password.$pristine }">
							<label for="userPassword">Password</label>
							<input type="password" class="form-control" id="userPassword" ng-model="user.password" placeholder="Password" required>
	            			<p ng-show="user.password.$invalid && !user.password.$pristine" class="help-block">Password is required.</p>
						</div>
						
						<div class="pull-right">
							<button type="submit" class="btn btn-default" ng-click="userFormSubmit()" ng-disabled="addUserForm.$invalid" ng-switch="newUser">
								<span ng-switch-when="true"><i class="fa fa-plus"></i> Add</span>
								<span ng-switch-default><i class="fa fa-save"></i> Save</span>
							</button>
							<button class="btn btn-default" ng-click="editUserCancel()" ng-hide="newUser"><i class="fa fa-ban"></i> Cancel</button>
						</div>
					</form>
				</div>
			</div>
			
		</div>
	</div>
</div>