<div class="modal-header">
	<h3 class="modal-title">Charters</h3>
</div>
<div class="modal-body">

	<form name="charterForm" novalidate>
		<raw-date-picker data-model="model.charter.charterStart" input-id="charterStart" input-label="Charter Start" required></raw-date-picker>
		<raw-date-picker data-model="model.charter.charterEnd" input-id="charterEnd" input-label="Charter End" required></raw-date-picker>
	</form>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-primary" ng-click="charterFormSubmit()">
		<i class="fa fa-save"></i> Save</span>
	</button>
	<button class="btn btn-info" ng-click="charterFormCancel()">
		<i class="fa fa-ban"></i> Cancel
	</button>
</div>