@CHARSET "UTF-8";

body {
	background-color: lightgrey;
}

#container{
	background-color: white;
}

#header {
	border-bottom: solid 1px lightgray;
	padding-bottom: 10px;
}

#header .headline {
	line-height: 40px;
}

#content {
	min-height: 400px;
}

#footer {
	border-top: solid 1px lightgray;
	padding-top: 5px;
}