<ng-form name="datePickerForm" class="form-group" ng-class="{ 'has-error' : datePickerForm.input.$invalid && !datePickerForm.input.$pristine }">
	<label for="{{ inputId }}">{{ inputLabel }}</label>
	<div class="input-group">
		<input type="text" id="{{ inputId }}" name="input" class="form-control" datepicker-popup="{{format}}"
			ng-model="model" is-open="opened" min-date="minDate"
			datepicker-options="dateOptions" ng-required="true" />
		<span class="input-group-btn">
			<button type="button" class="btn btn-default" ng-click="open($event)">
				<i class="fa fa-calendar"></i>
			</button>
		</span>
	</div>
	<p ng-show="datePickerForm.input.$invalid && !datePickerForm.input.$pristine" class="help-block">{{ inputLabel }} is required.</p>
 </ng-form>
